.about-wrapper {
	min-height: 400px;
	width: 100%;
	background: url(img/about-line-white.png) top left repeat-x, url(img/about.png) repeat 0 0;
	margin: auto;
	min-width: $min-width;
    font-family: $font-sans;
}

.about {
	min-height: 98%;
	width: $main-width;
	margin: auto;
	display: block;
}

.about-main {
	position: relative;
	display: block;
	float: right;
	background: url(img/about-img.png) bottom left no-repeat, url(img/content-layout-bottom.png) top right no-repeat;
	width: 918px;
	height: inherit;
	padding-top:40px;
}

.about__header {
	margin-top: 10px;
	display: inline-block;
	width: 80%;
}

.about__header img{
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
}

.about__header-catalog {
	width: 80%;
}

.about__header h2 {
	color: $color-yell;
	font-size: 1.2em;
	margin-left: 30px;
	display: inline-block;
	text-transform: uppercase;
}

.about__header-catalog h2 {
	color: $color-yell;
	font-size: 1.2em;
	text-transform: uppercase;
	display: inline-block;
}

.about__header-catalog img {
	vertical-align: middle;
	display: inline-block;
	margin-left: 10px;
}

.about__content {
	color: white;
	width: 560px;
	font-size: 1em;
	margin-left: 30px;
}

.about-button {
	display: block;
	margin: 10px 0px;
	background: none;
	position: relative;
	border: 1px solid $color-yell;
	@include border-radius(6px);
	font-size:0.9em;
	font-weight: bold;
	color: $color-yell;
	margin-left: 35px;
	padding:7px;
}

.about__image {
	float: right;
	margin-top: -360px;
}

.about .service__content-slider {
	display: inline-block;
}
