.bottom-menu-wrapper {
	height: 80px;
	background-color: black;
	min-width: $min-width;
}

.buttom-menu-container{
	width: $main-width;
	margin: auto;
	display: block;
}

.bottom-menu {
	height: inherit;
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	text-align: center;
}


.bottom-menu ul {
	margin: 0;
	padding: 4px;
	vertical-align: middle;
}

.bottom-menu  ul li {
	font-family: $font-sans-bold;
	font-size: 0.8em;
	display: inline;
	color: white;
	height: inherit;
	line-height: 80px;
}

.bottom-menu ul li:first-child {
	margin-left: 0px;
}

.bottom-menu ul li:last-child {
	margin-right: 0px;
}

.bottom-menu  ul li span {
	//margin-left: 40px;
	margin-right: 70px;
	margin-left: 70px;
}