.catalog-description-wrapper {
  margin: auto;
  background: url(img/content.png) top center repeat-x;
  min-width: $min-width;
}

.catalog-description {
  width: $main-width;
  margin: auto;
  background: url(img/desc-triang-right.png) top right no-repeat, url(img/desc-trian-left.png) bottom left no-repeat;
  height: inherit;
}

.catalog-description h2 {
  margin-top: 0px;
  padding-top: 10px;
  font-family: $font-sans-bold;
  font-size: 1em;
}

.catalog-text {
  margin-left: 90px;
  margin-right: 90px;
  font-size: 0.9em;
}

.catalog-text ul {
  padding-left: 0px;
}
.catalog-text ul li {
  list-style: none;
  padding-left: 10px;
  background: url(img/red-list-arrow.png) left center no-repeat;
}