@import 'menu-slider';
@import 'menu-left';

.content-wrapper {
	min-height: 400px;
	width: 100%;
	padding-top: -5px;
	margin-top: -60px;
	background: url(img/content.png) top center repeat-x;
	min-width: $min-width;
}

.content {
	margin: auto;
	padding-top: 77px;
	width: $main-width;
	min-height: inherit;
	font-size: 0.9em;
	background: url(img/content-img.png) no-repeat;
	background-position-x: 800px;
	background-position-y: 80px;
}


.main-slogan {
	position: absolute;
	width: 500px;
	height: 250px;
	margin-top: -250px;
	margin-left: 350px;
	color: white;
	text-align: right;
}

.main-slogan span {
	font-family: $font-bold;
	font-size: 2.5em;
	text-align: right;
	text-transform: uppercase;
}

.main-subslogan {
	font-family: $font;
	text-align: center;
	font-size: 0.8em;
	width: 300px;
	padding: 3px 3px;
	display: inline-block;
	background: url(img/slogan-layer.png) center left no-repeat, rgba(76,76,76,1);

}

.content__item {
	float: right;
	font-family: $font-sans-bold;
}

.content__header {
	width: 81%;
	height:50px;
	display: inline-block;
	line-height: inherit;
	//background: url(img/gears-dark.png) center right no-repeat;
	font-size: 0.6em;
	padding-right: 10px;
	margin-bottom: 5px;
}

.content__header h2 {
	display: inline-block;
	text-transform: uppercase;
	font-size: 1.9em;
}


.content__header p {
	font-size: 1.7em;
}

.content__header img {
	vertical-align: middle;
	margin-left: 10px;
}

.content-button {
	margin-top: 20px;
	display: inline-block;
	background: none;
	border: 2px solid $color-gray;
	@include border-radius(6px);
	padding: 7px;
	font-size:0.8em;
	font-weight: bold;
	//line-height: 30px;
	color: $color-gray;
	text-transform: uppercase;
}

.main__content {
	color: white;
	width: 846px;
	height: 314px;
	font-size: 1em;
	display: block;
	margin-right: 30px;
	background: url(img/main-content-line.png) center left no-repeat, url(img/main-content.png) center right no-repeat;
	box-shadow: 0 -2px 10px rgba(0, 0, 0.5, 0.5);
}

.content__text {
	position: relative;
	background: url(img/content-text.png) center left no-repeat;
	height: 200px;
	color: $color-yell;
	padding-top: 80px;
	font-family: $font-sans;

}

.content__text h2 {
	padding-left: 20px;
	text-transform: uppercase;
}

.content__text p {
	padding-left: 20px;
	color: white;
	font-size: 1.2em;
}

.content__slider{
	display: inline-block;
	text-align: center;
	width: 100px;
	font-weight: bold;
	margin-left: 20px;
	margin-right: 20px;
}

.content__slider span {
	font-size: 0.9em;
	font-family: $font-sans-bold;
}

.content__catalog {
	float: right;
	width: 870px;
	font-size: 1.2em;
}


.content__products .service__content-slider {
	 display: inline-block;
 }

.main__content .back-call {
	background: url(img/header-phone-btn.png) top center no-repeat;
	width: 120px;
	height: 37px;
	font-weight: bold;
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
	border-style: solid none;
	border-width: 0px 0px 3px 0px;
	border-color: #F1B814;
	@include border-radius(6px);
	margin-left: 30px;
	margin-top: 30px;
	font-family: $font-sans-bold;
	font-size:0.8em;
	font-weight: bold;
	color:$color-gray;
}

.content__products {
	width: 100%;
}

.no-background {
	background: none;
}

@import 'detail';



