.detail__header {
  width: 740px;
  margin-left: 299px;
  display: inline-block;
  font-family: $font-sans-bold;
  font-size: 0.9em;
}

.detail-broadrcubms {
  margin-left: 299px;
}

.detail__header h1 {
  display: inline-block;
  font-size:1.4em;
}

.detail__IEC {
  display: inline-block;
  vertical-align: top;
  margin-top: 20px;
  font-weight: bold;
  font-size: 1.2em;
  margin-right: 20px;
}

.detail__images {
  display: block;
  float: left;
  width: 376px;
  height: 369px;
  background-color: white;
  @include border-radius(10px);
  background: url(img/detail__images_leftlayer.png) right bottom no-repeat, rgba(255,255,255,1);

}


.detail-images-center {
  width: 376px;
  height: 369px;
  display: table-cell;
  vertical-align: middle;
  margin: auto;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  @include border-radius(10px);
}


.detail__slider {
  display: block;
  width: 150px;
  float:left;
}

.detail__characteristics {
  display: block;
  width: 670px;
  float: right;
}

.detail__table {
  width: 670px;
  border-bottom: 1px dashed lightgrey;
}

.table__main {
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
}

.table__kol {
  text-transform: uppercase;
  text-align:right;
}

.detail__table th {
  border-bottom: 1px dashed lightgrey
}

.detail__table tr td span {
  font-size: 1.5em;
  color: orange;
}

.detail__table tbody tr td {
  font-size: 0.9em;
}

.table__sale {
  text-align: right;
  vertical-align: middle;
}

.table__btn {
  display: inline-block;
  margin-right: 20px;
  vertical-align: middle;
  background: url(img/header-phone-btn.png) top center no-repeat;
  width: 146px;
  height: 37px;
  text-decoration: none;
  border-style: solid none;
  border-width: 0px 0px 3px 0px;
  border-color: #F1B814;
  @include border-radius(6px);
  font-size:1.1em;
  font-weight: bold;
  color:$color-gray;
  text-transform: uppercase;
}

.tech-catalog {
  display: inline-block;
  //tech-catalog-arrow.png
}

.tech-catalog ul li {
  list-style: none;
  padding-left: 10px;
  background: url(img/tech-catalog-arrow.png) left center no-repeat;
  text-decoration: underline;
  font-weight: bold;
  font-size: 0.9em;
}

.characteristics-list ul li {
  list-style: none;
  padding-left: 10px;
  background: url(img/footer-menu.png) left center no-repeat;
  padding-top: 5px;
  font-size: 0.8em;
}

.sd {
  margin-top: 50px;
}

.box-alex-slider {
  display: inline-block;
  background-color: white;
  @include border-radius(2px);
  vertical-align: middle;
  text-align: center;
  width: 85px;
  height: 85px;
  line-height: 85px;
  background: url(img/box-alex-slider.png) right bottom no-repeat, url(img/box-alex-arrow.png) top center no-repeat, rgba(255,255,255,1);
}

.box-alex-slider img {
  vertical-align: middle;
}

.detail-counter {
  background-color: white;
  @include border-radius(15px);
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid lightgrey;
}

.detail-counter__left {
  display: block;
  width: 22%;
  height: inherit;
  line-height: inherit;
  border-right: 1px solid lightgrey;
  float: left;
}

.detail-counter__center {
  display: block;
  width: 50%;
  height: inherit;
  float: left;
  line-height: inherit;
  vertical-align: middle;
}

.detail-counter__right {
  display: block;
  width: 22%;
  height: inherit;
  line-height: inherit;
  float: right;
  border-left: 1px solid lightgrey;
}