.menu-nav ul {
	margin: 0;
	padding: 4px;
}

.menu-nav ul li {
	font-family: $font-bold;
	font-size: 0.8em;
	display: inline;
	margin-right: 5px;
	padding: 3px;
	color: white;
}

.menu-nav ul li span {
	margin-left: 10px;
}

.menu-nav ul li span:first-child {
	margin-left: 0px;
}