$font: 'Gilroy', sans-serif;
$font-bold: 'Gilroy-Bold', sans-serif;
$font-sans: 'PTSans', sans-serif;
$font-sans-bold: 'PTSans-Bold', sans-serif;
$color-gray: #4C4C4C;
$color-wacker: #343434;
$color-yell: #FFCA00;
$main-width: 1200px;
$min-width: 1250px;