.wacker {
	height: 399px;
	background: url(img/wacker-wrapper.png) top center no-repeat;
	margin: auto;
	min-width: $min-width;
	font-family: $font-sans;
}

.wacker-label {
	background-color: $color-wacker;
	color: rgba(255,213,17,0.9);
	text-align: center;
}

.wacker__wrapper {
	min-height: 399px;
	background-color: rgba(255,213,17,0.8);
	margin: auto;
	margin-top: -8px;
	min-width: $main-width;
}

.wacker__hrtop {
	height: 8px;
	background: url(img/wacker-hr.png) top center repeat;	
}


.wacker__content {
	margin: auto;
	color: $color-wacker;
	width: 	$main-width;
	padding-left: 40px;
}

.wacker__content a {
	font-weight: bold;
	color: $color-wacker;
}


.wacker-news {
	font-size: 0.7em;
	display: inline-block;
	vertical-align: top;
	width: 250px;
	margin-top: 10px;
	background: url(img/wacker-gears.png) top right no-repeat;
}



.wacker-news__date {
	@extend .wacker-label;
	width: 84px;
	height: 23px;
	line-height: 23px;
	font-size: 0.9em; 
}

.wacker-news__item {
	margin-top: 10px;
	border-bottom: 1px dashed $color-wacker;
}

.wacker-news__item span a {
	font-family: $font-sans-bold;
	font-size: 1.2em;
}

.wacker-news__item span {
	font-size: 0.8em;
}

.wacker-button {
	display: block;
	margin: 10px 0px;
	background: none;
	position: relative;
	border: 1px solid $color-wacker;
	@include border-radius(6px);
	font-size:1em;
	font-weight: bold;
	vertical-align: center;
	font-size: 1.2em;
	padding: 7px;
}

.wacker-news__button {
	@extend .wacker-button;
}

.wacker__carousel {
	width: 790px;
	margin-left:150px;
	margin-top: 11px;
	display: inline-block;
}
.wacker-about {
	font-size: 0.7em;
	display: inline-block;
	margin: 10px 25px;
	width: 450px;
	background: url(img/wacker-neuson-text.png) top right no-repeat;
}

.wacker-about h2 {
	font-family: $font-sans-bold;
	font-size: 1.6em;
}

.wacker-about__text {
	margin-top: 10px;
	font-size: 1.4em;
	line-height: 1.5;
}

.wacker-about__text a {
	font-family: $font-sans-bold;
}

.wacker-about__text img {
	margin-left: 10px;
}

.wacker-product {
	display: inline-block;
	vertical-align: top;
	text-align: left;
	width: 370px;
	height: 350px;
	font-size: 0.7em;
}

.wacker-product h2 {
	font-family: $font-sans-bold;
	font-size: 2em;
}

.wacker-product__desc {
	font-size: 0.8em;
}

.wacker-product__model {
	@extend .wacker-label;	
	height: 34px;
	line-height: 34px;
	font-size: 1.5em;
	width: 260px; 
	display: inline-block;
}

.wacker-product p {
	font-size: 1.5em;
}

.wacker-product__price {
	@extend .wacker-label;
	text-align:left;
	line-height: 20px;
	height: 50px;
	padding-top: 10px;
	padding-left: 15px;
	padding-right: 40px;
	display: inline-block;
	background: rgba(52,52,52,1) url(img/wacker-price.png) bottom left no-repeat;
	font-family: $font-sans-bold;
}
.wacker-product__price span {
	font-size: 1.3em;
}

.wacker-product-image img{
	position: relative;
	margin-top:-220px;
	margin-left: 120px;
	/*background: url(img/wacker-product-image.png) bottom right no-repeat;*/
}


.wacker-product__button {
	@extend .wacker-button;
	margin-top: -50px;
}


.wacker__header {
	font-size: 0.7em;
	display: inline-block;
	width: 100%;
	//background: url(img/about-h2-image.png) top right no-repeat;
}

.wacker__header img {
	vertical-align: middle;
	margin-left: 10px;
}

.wacker__header h2 {
	text-transform: uppercase;
	display: inline-block;
}




